<section
  class="bg-black h-screen w-screen text-center relative overflow-hidden"
>
  <div class="relative z-25 h-full flex flex-col">
    <div>
      <h2 class="text-black pt-40 text-[40px]">Model y</h2>
      <p class="text-black underline text-sm">
        Concertar una prueba de conducción
      </p>
    </div>
    <footer class="text-white mb-20 flex flex-col flex-grow justify-end">
      <div class="gap-x-6 flex mx-auto">
        <a
          class="border-black bg-gray-600 text-white text-center rounded px-6 py-2 inline-block transition-colors
            hover:text-black hover:bg-white"
          href=""
        >
          Explorar inventario
        </a>
        <a
          class="bg-white text-black text-center rounded px-6 py-2 inline-block
            hover:text-white transition-colors hover:bg-black"
          href=""
        >
          Pedido Personalizado
        </a>
      </div>
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 h-fullñ w-full">
    <img
      class="h-full w-full object-cover object-center"
      src="/model-y.avif"
      alt="modelo-y"
    />
  </div>
</section>
