---
import Logo from "./Logo.astro";
---

<header
  id="LandingHeader"
  class="flex py-3 px-9 items-center fixed w-full justify-between z-20 text-white"
>
  <div>
    <Logo />
  </div>
  <nav>
    <ul class="flex [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2">
      <li><a href="#">Model S</a></li>
      <li><a href="#">Model 3</a></li>
      <li><a href="#">Model X</a></li>
      <li><a href="#">Model Y</a></li>
      <li><a href="#">Powereall</a></li>
      <li><a href="#">Carga Y</a></li>
    </ul>
  </nav>

  <nav>
    <ul class="flex [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2">
      <li><a href="#">Soporte</a></li>
      <li><a href="#">Tienda</a></li>
      <li><a href="#">Cuenta</a></li>
      <li><a href="#">Menù</a></li>
    </ul>
  </nav>
</header>

<script>
  const headerEl = document.querySelector("#LandingHeader");
  console.log(headerEl);

  if (headerEl) {
    // Verificamos que el elemento exista antes de usarlo
    const observerOption = {
      root: null,
      rootMargin: "0px", // En cuanto se vea el elemento
      threshold: 0.5, // Porcentaje de visibilidad
    };

    const observer = new IntersectionObserver((entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          // Recuperar el color del elemento
          const color = entry.target.getAttribute("data-header-color");
          if (color) {
            headerEl.style.color = color;
          }
        }
      });
    }, observerOption);

    // Seleccionar y observar todas las secciones
    const sectionElements = document.querySelectorAll(".landing-section");
    sectionElements.forEach((section) => observer.observe(section));
  } else {
    console.error("No se encontró el elemento con ID 'LandingHeader'.");
  }
</script>
